
@{
    ViewBag.Title = "RequestVendorTxCode";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>RequestVendorTxCode</h2>

<p>VenderTxCode - <span style="background-color: azure; font-size: larger; color: red">@ViewBag.VendorTxCode</span></p>
<br/>
<p><span >Unique code. Must be unique for each request to SagePay.</span>
    </p>
