
@{
    ViewBag.Title = "SendPaymentRequest";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SendPaymentRequest</h2>

<iframe src="@ViewBag.NextUrl" width="845" height="469" title="Secured by Sage Pay"></iframe>
